.carousel-image-container {
    height: 600px;
}

.carousel-wrapper .carousel-image-container img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .9%;
}

.carousel-wrapper .carousel-image-container img.active {
    display: block;
}

.carousel-wrapper .thumbnails-container i {
    padding: 1rem .2rem;
}

.carousel-wrapper .thumbnails-container i {
    color: rgb(227, 227, 227);
    letter-spacing: .5rem;
}

.carousel-wrapper .thumbnails-container i.active {
    color: #306ff4;
}